{% extends 'layouts/admin.twig' %}

{% block title %}
    Iniciar Sesión
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<form method="POST" action="/iniciar-sesion">
				<div class="form-group">
					<label>Usuario o Correo :</label>
					<input type="text" name="username_email" class="form-control">
				</div>
				<div class="form-group">
					<label>Contraseña :</label>
					<input type="password" name="password" class="form-control">
				</div>
				<button type="submit" name="login" value="login" class="btn btn-primary">Iniciar Sesion</button>
			</form>
			<br/>
		</div>
	</div>
{% endblock %}