{% extends 'layouts/admin.twig' %}

{% block title %}
	Articulo Nuevo
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="panel panel-primary nuevo-articulo" ng-app="app">
        <div class="panel-heading">
            <h3 class="panel-title">Nuevo Articulo</h3>
        </div>
        <div class="panel-body">
            <form method="POST" action="/articulo-nuevo">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Titulo</label>
                            <input type="text" name="title" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Categoria</label>
                            <select name="category" class="form-control">
                                <option value="concepto">Concepto</option>
                                <option value="maquina-a-maquina">Maquina-a-Maquina</option>
                                <option value="ipv6">IPV6</option>
                                <option value="seguridad">Seguridad</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" ng-controller="homeController">
                        <div text-angular="text-angular" name="content" ng-model="content" 
                            ta-disabled='disabled'></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" name="create" value="create" 
                            class="btn btn-primary">Publicar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src='/assets/js/angular-1.2.4.min.js'></script>
    <script src='/assets/js/angular-sanitize-1.2.4.min.js'></script>
    <script src='/assets/js/textAngular-1.1.2.min.js'></script>
    <script src="/ang/app.js"></script>
{% endblock %}