{% extends 'layouts/admin.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/dataTables.bootstrap.css">
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-12">
            {% if articles %}
                <div class="panel panel-primary">
                    <div class="panel-heading">Lista Articulos</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="users-table">
                                <thead>
                                    <th>Id</th>
                                    <th>Titulo</th>
                                    <th>Categoria</th>
                                    <th>Autor</th>
                                    <th>Ver</th>
                                    <th>Eliminar</th>
                                </thead>
                                <tbody>
                                    {% for article in articles %}
                                        <tr data-id="{{article.id}}" class="registro">
                                            <td>{{article.id}}</td>
                                            <td>{{article.title}}</td>
                                            <td>{{article.category}}</td>
                                            <td>{{article.username}}</td>
                                            <td>
                                                <button class="btn btn-info btn-ver">
                                                    Ver
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-eliminar">
                                                    Eliminar
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>                     
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">Datos Vacios!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/dataTables.bootstrap.js"></script>
    <script src="/ang/admin.js"></script>
    <script>
        $(document).ready(function() {
            $('#users-table').DataTable();
        });
    </script>
{% endblock %}