{% extends 'layouts/master.twig' %}

{% block title  %}
    Articulos
{% endblock %}

{% block content %}
	{% if articles %}
		{% for article in articles %}
			<div class="mdl-card mdl-shadow--8dp card-article">
		  	    <div class="mdl-card__title">
		    	    <h2 class="mdl-card__title-text">{{article.title}}</h2>
		  	    </div>
		  	    <div class="mdl-card__media">
		    	    <img src="/assets/img/{{article.image}}" width="100%" height="200x">
		  	    </div>
		  	    <div class="mdl-card__supporting-text">
		    	    <p>{{ article.content }}</p>
		  	    </div>
		  	    <div class="mdl-card__actions mdl-card--border">
		    	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" 
		    	    	href="/articulo/{{article.id}}">Ver
		    	    </a>
		    	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" 
		    	    	href="#">{{article.username}}
		    	    </a>
		    	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" 
		    	    	href="#">{{article.category}}
		    	    </a>
		  	    </div>
		    </div>
	    {% endfor %}
	{% endif %}
{% endblock %}