{% extends 'layouts/master.twig' %}

{% block title %}
    Ubicacion
{% endblock %}

{% block content %}
	<div class="mapa">
		<div class="mdl-card mdl-shadow--8dp card-contact">
			<div class="mdl-card__title">
			    <p class="mdl-card__title-text">Universidad Tecnológica de Panamá</p>
			</div>
			<div class="mdl-card__media">
			    <div id="googleMap" style="width:100%;height:350px;"></div>
			</div>
			<div class="mdl-card__supporting-text">
			    <p>Via Ricardo J. Alfaro</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript">
		function initialize()
		{
			var mapProp = {
    			center:new google.maps.LatLng(9.0243573,-79.5349253),
    			zoom:15,
    			mapTypeId:google.maps.MapTypeId.ROADMAP
  			};
  			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
{% endblock %}