{% extends 'layouts/master.twig' %}

{% block title  %}
    Equipo
{% endblock %}

{% block content %}
	{% if users %}		
		<div class="mdl-grid">
			{% for user in users %}
  				<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">  				
			  		<div class="mdl-card mdl-shadow--8dp card-user">
					  	<div class="mdl-card__title card-user-title">
					    	<p class="mdl-card__title-text card-user-name">
					    		{{user.firstname}} {{user.lastname}}
					    	</p>
					  	</div>
					  	<div class="mdl-card__media">
					    	<img src="/assets/img/{{user.image}}" width="100%" height="100x">
					  	</div>
					  	<div class="mdl-card__supporting-text">
					    	<p>{{user.phrase}}</p>
					  	</div>
					</div>				
  				</div>
  			{% endfor %}
		</div>
	{% endif %}
{% endblock %}