<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Administracion{% endblock %}</title>
		{% block style %}
		<link rel="stylesheet" href="/assets/css/bootstrap-flaty.min.css">
		<link rel="stylesheet" href="/assets/css/app.css">
		{% endblock %}
	</head>
	<body class="body-admin">
		{% if app.session.has('user') %}
			{% include 'partials/navbar.twig' %}
		{% endif %}
		<div class="container">{% block content %}{% endblock %}</div>
		{% block scripts %}
		<script src="/assets/js/jquery-2.1.1.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>