<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}IoT{% endblock %}</title>
		{% block style %}
		<link rel="stylesheet" href="/assets/css/material.teal-cyan.min.css">
		<link rel="stylesheet" href="/assets/css/app.css">
		<link rel="stylesheet" href="/assets/css/material-icon.css">
		{% endblock %}
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<span class="mdl-layout-title">Internet De Las Cosas</span>
      				<div class="mdl-layout-spacer"></div>
      				<nav class="mdl-navigation mdl-layout--large-screen-only">
      					<a class="mdl-navigation__link" href="/">Inicio</a>
        				<a class="mdl-navigation__link" href="/equipo">Equipo</a>
        				<a class="mdl-navigation__link" href="/ubicacion">Ubicacion</a>
      				</nav>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">IoT</span>
    			<nav class="mdl-navigation">
    				<a class="mdl-navigation__link" href="/">Inicio</a>
    				<a class="mdl-navigation__link" href="/equipo">Equipo</a>
    				<a class="mdl-navigation__link" href="/ubicacion">Ubicacion</a>
      				<a class="mdl-navigation__link" href="/iniciar-sesion">Iniciar Sesion</a>
    			</nav>
			</div>
			<main class="mdl-layout__content">
				<div class="page-content">
					<div class="mdl-grid">
  						<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--hide-phone"></div>
  						<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
  							<div class="principal">{% block content %}{% endblock %}</div>
  						</div>
  						<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--hide-phone"></div>
					</div>
				</div>
				<footer class="mdl-mini-footer">
  					<div class="mdl-mini-footer__left-section">
    					<ul class="mdl-mini-footer__link-list">
    						<li><a href="#">IoT</a></li>
      						<li><a href="/equipo">Equipo</a></li>
      						<li><a href="/ubicacion">Ubicacion</a></li>
    					</ul>
  					</div>
				</footer>
			</main>
		</div>
		{% block scripts %}
		<script src="/assets/js/material.min.js"></script>
		{% endblock %}	
	</body>
</html>